.question  {
	margin: 10px;
}

.avatar {
	margin: 5px;
	margin-left: 50px;
}

.user {
	position: right;
}

.margins {
	margin-top: 10px;
}

a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}