{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">		
	</head>
	<body>
	    <div class="container">
	        <div class="navbar">
	            <div class="navbar-inner">
	                <div class="span6">
	                    <a class="brand" href="/">
	                        <img src="{% static "logo.png" %}" height="25" width="25">Ask NANO!
	                    </a>
	                    <form class="navbar-form pull-left">
					    	<div class="input-append">
						  		<input class="span3" id="appendedInputButton" type="text">
						  		<button class="btn" type="button">ASK!</button>
							</div>
		            	</form>
		        	</div>
		        	<!-- Authorized user block -->
					<div class="user span4 offset1">
						<a href="./main_templat_files/main_templat.htm">
	            		   <img src="http://placeimg.com/30/30/people" class="img-rounded avatar">
						   <i class="icon-user"></i>
						   <span class="label label-inverse">NANO</span>
						</a>|
						<a href="/settings/"> <small> Settings </small></a>|
						<a href="/signup/"> <small> Log out </small> </a> 
					</div>
					<!-- NON-Authorized user block -
					<div class="user span1 offset4">
						<a href="/signup/">Signup </a> 
						<a href="/login/"> <small> Login </small> </a> -->
					</div>
			  	</div>
			</div>
			
			<div class="row">
				{% block main %}{% endblock %}
				<div class="span3">
		            <div>
		                <h3>Popuplar tags</h3>
		                <a href="#">Trouble</a>, 
		                <a href="#">Problems</a>, 
		                <a href="#">just_do_it</a>
		            </div>
		            <div>
		                <h3>Best users</h3>
		                <ul>
		                    <li>KonniBLACK</li>
		                    <li>Justify</li>
		                    <li>Olonado</li>
		                    <li>Igo</li>
		                </ul>
		            </div>
				</div>
			</div>
		</div>
	</body>
</html>