{% extends "base.html" %}

{% block main %}
<div class="span9">
<h2>Best questions</h2>

	{% for q in questions %}

	<div class="question row">
	   <div class="span2">
		   <img src="http://placeimg.com/120/120/people" class="img-polaroid">
		    <form class="form-search">
			    <div class="input-prepend input-append margins">
			    	<button type="submit" class="btn">
			    		<i class="icon-thumbs-down"></i>
			    	</button>
			    	<input class="span1" id="appendedPrependedInput" type="text" value="{{ q.rating }}"         style="text-align: center;" readonly>
				    <button type="submit" class="btn">
				    	<i class="icon-thumbs-up"></i>
				    </button>
			    </div>
		    </form> 
	   </div> 
	   <div class="span6">
		   <h4><a href="/question/{{ q.id }}">{{ q.title }}</a></h4>
		   <p>{{ q.text }}</p>
		   <div>
			   <a href="/question/{{ q.id }}">answer <span class="badge"></span></a>
			   Tags: 
			   <a href="/tags/">trouble</a>, 
			   <a href="/tags/">just_do_it</a>,
			   <a href="/tags/">ok</a>
		   </div>
		   <div>
				<h5> by <a href="/user/id" >{{ q.author.user }}</a></h5>
		   </div>
	   </div>
	</div>

	{% endfor %}

	<div class="question row">
		<div class="pagination">
			<ul>
				{% for pag in paginators %}		
					<li><a href="/?page={{ pag }}">{{ pag }}</a></li>
				{% endfor %}
		  </ul>
		</div>
	</div>
</div>
{% endblock %}