{% extends "base.html" %}

{% block main %}
<div class="span9">
	<div class="row">
	<div class="question row well" style="background-color:#fafafa">
	    <div class="span2">
		    <img src="
		    {% if question.author.avatar_url %}
		   		/uploads/{{ question.author.avatar_url }}
		   	{% else %}
		   		http://placeimg.com/120/120/people
		   	{% endif %}
		   " 

		    class="img-polaroid">
		    <form class="form-search" style="margin: 0" >
			    <div class="input-prepend input-append margins">
			    	<button type="submit" class="btn">
			    		<i class="icon-thumbs-down"></i>
			    	</button>
			    	<input class="span1" id="appendedPrependedInput" type="text" value="{{ likes }}"         style="text-align: center;" readonly>
				    <button type="submit" class="btn">
				    	<i class="icon-thumbs-up"></i>
				    </button>
			    </div>
		    </form> 
		</div> 
		<div class="span5" style="padding-left: 30px">
			<h4><a href="/question/{{ question.id }}">{{ question.title }}</a></h4>
			<p>{{ question.text }}</p>
			<div>
				<a href="/question/{{ question.id }}">answers <span class="badge">{{ count }}</span></a>
				Tags: 
				{% for tag in tags %}
					<a href="/tags/">{{ tag.tag }}</a>, 
				{% endfor %}
			</div>
			<div>
				<h5> by <a href="/user/id" >{{ question.author.user }}</a></h5>
		   </div>
	   </div>
	</div>	    <hr>
	    {% for answer in answers %}
   			{% include 'answer.html' %}
		{% endfor %}
		<div class="span9 offset2">
			<form action="/response/{{ question.id }}/" method="post">{% csrf_token %}
		        <div>
		            <h4>Мой ответ:</h4>
		            <div >
		                <textarea name="text" style="width: 400px; height:100px" value=""></textarea>
		            </div>
		        </div>
		        <div class="control-group">
		            <div class="controls">
		                <button type="submit" class="btn">Ответить</button>
		                <hr>
		            </div>
		        </div>
		    </form>
	    </div>
		{% if answers.has_other_pages %}
		<div class="pagination">
			<ul>
		        {% if answers.has_previous %}
		        <li><a href="?page={{ answers.previous_page_number }}">предыдущая</a></li>
		        {% endif %}

		        <li><a class="disabled" >страница {{ answers.number }} из {{ answers.paginator.num_pages }}</a></li>

		        {% if answers.has_next %}
		        <li><a href="?page={{ answers.next_page_number }}">следующая</a></li>
		        {% endif %}
		    </ul>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}